{% extends '_layout.html' %}
{% load poll_extras %}

{% block title %}
	محصولات
{% endblock %}



{% block content %}
        <div dir="rtl" class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="product-box-title">
                        <h2 class="slider-title" style="color: black">محصولات</h2>
                    </div>
                    <div class="swiper product-box-items pt-md-0 pt-4 prodcut-box-one-slider">
                        <div class="swiper-wrapper">


                            {% for product in products %}
                                <div class="swiper-slide">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="{% url 'product_detail' product.slug %}">
                                                <img src="{{ product.image.url }}" alt="" class="img-fluid one-image">
                                                <img src="{{ product.image.url }}" alt="" class="img-fluid two-image">
                                            </a>
                                        </div>
                                        <a href="{% url 'product_detail' product.slug %}">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h5>
                                                        {{ product.title }}
                                                    </h5>
                                                </div>
                                                <div class="product-box-price default">
                                                    <span class="new-price">{{ product.price|number_digits }} تومان</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}