{% extends '_layout.html' %}
{% load poll_extras %}

{% block title %}
    {{ article.title }}
{% endblock %}


{% block content %}
        <div class="content" dir="rtl">
        <div class="blog-content">
            <div class="container-fluid">
                    <div class="col-lg-9 order-1">
                        <div class="blog-post shadow-box">
                            <div class="blog-post-title">
                                <h3>{{ article.title }}</h3>
                                <div class="blog-post-title-items">
                                    <div class="blog-post-title-item">
                                        <img src="{{ article.author.avatar.url }}" class="rounded-circle" alt="">
                                        <p class="text-muted">{{ article.author.first_name }}{{ article.author.last_name }}</p>
                                    </div>
                                    <div class="blog-post-title-item">
                                        <i class="bi bi-alarm"></i>
                                        <p class="text-muted">{{ article.create_date|jdate }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ article.image.url }}" alt="" class="rounded" style="width: 1050px;height: 460px">
                            <div class="blog-post-content">
                                <p>{{ article.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}