<script src="/static/js/jquery-3.6.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/swiper-bundle.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/plugin/countdown/countdown.js"></script>
<script src="/static/js/plugin/back-to-top/jquery-backToTop.min.js"></script>
<script src="/static/js/plugin/hint-css/hint-css.js"></script>
<script src="/static/js/jquery-app.js"></script>
<script src="/static/js/plugin/waves/waves.js"></script>
<script src="/static/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/static/js/custom.js"></script>