<link rel="shortcut icon" href="/static/img/default-icon/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/img/default-icon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/bootstrap.rtl.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-icons/bootstrap-icons.css">
<link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/js/plugin/countdown/countdown.css">
<link rel="stylesheet" href="/static/js/plugin/back-to-top/jquery-backToTop.min.css">
<link rel="stylesheet" href="/static/js/plugin/hint-css/hint-css.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/responsive.css">