{% extends '_layout.html' %}

{% block title %}
    ورود
{% endblock %}

{% block content %}
    <div class="container">
        <div class="auth shadow-box">
            <div class="row" style="min-height:inherit;">
                <div class="col-lg-8">
                    <div class="auth-forms">
                        <div class="auth-forms-item">
                            <div class="auth-title">
                                <div class="auth-logo d-lg-none d-block">
                                    <a href="{% url 'Home' %}"><img src="/static/img/custom-images/LogoWhite.png"
                                                                    class="" alt=""></a>
                                </div>
                                <h3>وارد شوید</h3>
                                <p class="my-3 text-muted">اگر قبلا ثبت نام کرده اید وارد شوید</p>
                            </div>
                            <div class="auth-form">
                                <form action="" method="post" dir="rtl">
                                    {% csrf_token %}
                                    {% if error %}
                                        <div class="alert alert-warning">نام کاربری یا رمز عبور اشتباه است</div>
                                    {% endif %}
                                    {{ login_form }}
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="submit" class="btn-login me-2 waves-effect waves-light"><i
                                                class="bi bi-person"></i>
                                            ورود به
                                            سایت
                                        </button>
                                        <a class="btn-login forget waves-effect waves-light"
                                           href="{% url 'forget-password' %}"><i class="bi bi-person"></i>
                                            فراموشی رمز عبور
                                        </a>
                                    </div>

                                </form>
                                <div class="register-box">
                                    <div class="dash-border">
                                        <span>یا</span>
                                    </div>
                                    <div class="register-link">
                                        <a href="{% url 'register' %}"
                                           class="btn btn-outline-secondary waves-effect waves-light">ثبت نام <i
                                                class="bi bi-person-plus ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="auth-side d-lg-block d-none">
                        <div class="background">
                            <div class="cube"></div>
                            <div class="cube"></div>
                            <div class="cube"></div>
                            <div class="cube"></div>
                            <div class="cube"></div>
                        </div>
                        <div class="auth-desc">
                            <div class="auth-logo">
                                <a href="{% url 'Home' %}"><img src="/static/img/custom-images/LogoWhite.png"
                                                                class="img-fluid" alt=""></a>
                            </div>
                            <h3 class="fw-bold">خوش آمدید</h3>
                            <p class="my-3">برای ورود به سایت باید در سایت ثبت نام کنید
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}